<% sum = 0  %>
<% Loadingmaterial.where("loading_id <= #{loading.id}").unscope(where: @delivery).each do |lm| %>
  <% sum = sum + lm.quantity %>
<% end %>
<div class="progress">
  <div class="progress-bar " role="progressbar" style="width: <%= (sum.to_f/33*100).round %>%;" aria-valuenow="<%= sum %>" aria-valuemin="0" aria-valuemax="33"></div>
</div>
<%= icon('fa-solid', 'truck') %>
