
<div class="head_deliveries">
    <h1>Hello <%= current_user.name %>!</h1>
    <h2>your next delivery :</h2>
</div>
<div class="container py-4">
      <div class="cards">
        <% @deliveries.each do |delivery| %>
            <div class="card-delivery">
              <div class="card-delivery-infos">
                <h2><%= delivery.name %></h2>
                <p><%= delivery.startdate.strftime("%d/%m/%Y") %></p>
              </div>
                <%= link_to "Start delivery", delivery_path(delivery), class: "btn btn-gradient" %>
            </div>
        <% end %>
  </div>
</div>
