.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: #8190d6;
  border: 1px solid #6A7FDB;
}


.btn-pink {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: #FFCAFA;
  border: 1px solid #6A7FDB;
  margin: 100px;
}

.custom-control {
text-align: center;
margin-top: 8px;
}
