.head_deliveries {
  background-color: #5CE1E6;
  height: 160px;
  text-align: center;
}

.head_deliveries h1 {
  color: white;
  font-weight: bolder;
  padding-top: 32px;
}

.head_deliveries h2 {
  color: white;
  font-weight: bolder;

}
