.fa-caret-down {
  color: aliceblue;
  font-size: 30px;
  color: #FFCAFA;
}

.fa-caret-left {
  color: aliceblue;
  font-size: 30px;
  color: white;
}


.fa-play {
  font-size: 20px;
  text-decoration: none;
  color: #5CE1E6;
}

.fa-truck {
font-size: 20px;
padding-left: 8px;
color: #6A7fdb;
}
