.fa-user {
  font-size: 24px;
  color: #6A7fdb;
}

.fa-angles-left {
  font-size: 24px;
  color: white;
  padding-right: 16px;
}


.fa-play {
  font-size: 20px;
  text-decoration: none;
  color: #6A7fdb;
  // color: #FFCAFA;
}

.fa-truck-ramp-box {
  font-size: 20px;

}
